<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>History</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card *ngIf="createdCode">
    <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
  </ion-card>

  <ion-list>
    <button ion-item *ngFor="let history of histories" (click)="onHistoryClick(history)">
      <ion-label>{{ history.Text }}</ion-label>
      <div class="item-note" item-end>
          {{ history.Date | date:'EEEE dd MMMM yyyy hh:mm' }}
        </div>
    </button>
  </ion-list>

</ion-content>
